body {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background: wheat;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #111827;
}

.input-area {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
}

button {
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    padding: 0.5rem;
    background-color: #e5e7eb;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    opacity: 0.6;
}